@import "bootstrap";


body {
    margin: 0;
    padding: 0;
}

.calc-header {
    padding-left: 10px;
}

.calc-page {
    width: 100%;
}

.calc-content {
    background-color: #ECF0F1;
    padding: 20px 10px;
}

.calc-inner-container {
    width: 100%;
    max-width: 920px;
}