@import "bootstrap";


body {
    margin: 0;
    padding: 0;
}

.calc-header {
    padding-left: 10px;
}

.calc-page {
    width: 100%;
}

.calc-content {
    background-color: #ECF0F1;
    padding: 20px 10px;
    margin-top: 1rem;
}

.content-container {
    width: 100%;
    max-width: 920px;

    &--small {
        max-width: 800px;
    }
}

.calc-result {
    border-top: 3px solid #dde5e7;
    margin-top: 2rem;
    padding-top: 1rem;
}

.field-additional-text {
    color: #758a9a;
    font-size: 0.8rem;
}

@media (min-width: 575px) {
    .row .additional-col {
        padding-left: 0px;
    }
}




.calc-result-row {
    &__value {
        font-size: 1.1em;
        font-weight: bold;
    }

    &__currency {
        color: #758a9a;
    }
}